
  </main>
  <!-- FOOTER -->
  <footer class="container">
    <div class="" style="
        padding: 50px;
    ">
      <div class="row" style="
        border-style: double;
    ">
       <div class="col-sm" style="border: auto;margin 500;padding-right: 100px;padding-left: 150px;">
          Location:<br>
          1245 Howard St.<br>
          San Francisco, CA 94103
        </div>
        <div class="col-sm">
          GitTheBag$$<br>
          (413)-573-1433<br>
          GitTheBag@gmail.com
        </div>
        <div class="col-sm">
          Privacy and Cookies<br>
          Terms of Use<br>
          © GitTheBag 2020
        </div>
      </div>
    </div>
      </footer>
    </main>
    <script src="./js/script.js"></script>
  </body>
</html>