<footer class="container">
        <div class="row footerInfo">
          <section class="col-6">
            <div class="figureWrapper">
              <!-- <hr> -->
              <figure>
                <figcaption>1449 Webster St.</figcaption>
                <figcaption>San Francisco, CA 94115</figcaption>
              </figure>
              <figure>
                 <figcaption>Contact</figcaption>
                 <figcaption>(000)000-0000</figcaption>
                  <figcaption>Hello@gmail.com</figcaption>
              </figure>
              <figure>
                 <figcaption>Copyright</figcaption>
              </figure>
            </div>
          </section>
        </div>
      </footer>
    </main>
    

    <script src="js/script.js"></script>

  </body>
</html>
