<!-- Online Communication -->
<!-- Steven's comment: change google maps to show where we are based(location of where this website was made), add input box to type in user's email and feedback -->
<span class="#">
    <div>Random Subject</div>
    <div>randomemailaddress@email.com</div>
</span>
<div class="#">Content of email</div>
<iframe class="#" src="https://www.google.com/maps"></iframe>