<!-- Online Communication -->
<div class="vertical">
    <form action="#">
        <input type="text" name="Username or Email" placeholder="Username or Email" class="user input" required>
        <input type="text" name="subject" placeholder="Subject" class="user input" required>
        <textarea name="Feedback" placeholder="Your Feedback" class="bigbox" rows="15" cols="50" required></textarea>
        <input type="submit" value="Submit" class="rightside">
        <h3>Our Location</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.2668463387204!2d-122.43433658438134!3d37.78378567975802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7de12d9dc38d%3A0x9ed9df7fd55ff45a!2sSuccess%20Centers%20-%20The%20Career%20Center!5e0!3m2!1sen!2sus!4v1598329037569!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map iframe"></iframe> 
    </form>
</div>