<!-- Online Communication -->
<span class="#">
    <div>Random Subject</div>
    <div>randomemailaddress@email.com</div>
</span>
<div class="#">Content of email</div>
<iframe class="#" src="https://www.google.com/maps"></iframe>