<!-- Online Communication -->
<span class="#">
    <form action="#">
        <input type="text" name="Username or Email" placeholder="Username or Email">
        <input type="text" name="Feedback" placeholder="Your Feedback">
        <input type="submit" value="Submit">
    </form>
</span>