<section class="pgHome">
	<div class="col-10 offset-1">
 		<h1 class="title, sTitle2">Git The Bag$$</h1>
	</div>
		 <div id="demo" class="carousel slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1" class="active"></li>
	    <li data-target="#demo" data-slide-to="2" class="active"></li>
	    <li data-target="#demo" data-slide-to="4" class="active"></li>
	  </ul>
	  
	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="img/monopoly.jpg" alt="" width="1100" height="500">
	    </div>
	    <div class="carousel-item">
	      <img src="img/img3.jpg" alt="" width="1100" height="500">
	    </div>
	   <div class="carousel-item">
	      <img src="img/mario.jpg" alt="" width="1100" height="500">
	    </div>
	    <div class="carousel-item">
	      <img src="img/sega2jpg.jpg" alt="" width="1100" height="500">
	    </div>
	  </div>
	  
	  
	  <!-- Left and right controls -->

	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	    <span class="sr-only">Next</span>
	  </a>

	</div>
	<h1>Biography/Story</h1>
 <section class="container-fluid">
 	<figure class="figure-wrapper">
 		<div class="col">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		</div>
		</figure>
	</section>
<section class="container SectionCard"> 
	<div class="card">
		<div class="card-body">
	<div class="row">
		<div class="col">
			<figure class="figure-wrapper">
			<div class="cardAlt" id="">
  			<div class="col-4">
 				 <div class="card-img">
 				 	<p class="card-text" id="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 				 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 				 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 				 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 				 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 				 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   					<img src="img/business.jpg" title="">
   					<p class="card-text">Relive one of the most iconic board game series of all time, the classic Business game. 
   					</div>
					</div>
 				</div>
			<div class="col-7">
				</div>
		        <h2 class="card-box-title" class="col-2">Monopoly</h2>
		     
		    	</div>
			</div>
  		</div>
	</div>
	</figure>
		</div>
	</div>
<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<figure class="figure-wrapper">
					<div class="cardAlt" id="card1">
		  			<div class="col-4">
 				 	<div class="card-img">
 				 		
 				 		<p class="card-text" id="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 				 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 				 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 				 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 				 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 				 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 				 		
   					<img src="img/life.jpg" title="">
   					<p class="card-text">You will learn about life when you play The Game of Life”</p>
					</div>
				</div>
		 				</div>
						<div class="col-7">
						</div>
				        <h2 class="card-box-title,  sTextEdit">The Game Of Life</h2>
				    </div>
					</div>
			  	</div>
				</div>
			</figure>
			</div>
			</div>
<div class="card">
		<div class="card-body">			
	<div class="row">
		<div class="col">
			<figure class="figure-wrapper">
			<div class="cardAlt" id="card1">
  			<div class="col-4">
 				 	<div class="card-img">
 				 		<p class="card-text" id="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 				 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 				 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 				 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 				 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 				 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   					<img src="img/cash5.jpg" title="">

   					<p class="card-text">“Win the Rat race!”</p>
   				</div>
					</div>
 				</div>
				<div class="col-7">
		    </div>
		       	 <h2 class="card-box-title" class="col-2">CashFlow</h2>
				    	</div>
					</div>
		  		</div>
			</div>
  				</figure>
				</div>
				</div>
</section>
</section>

	<!--div class="row">
		<div class="col">
			<figure class="figure-wrapper">
			<div class="cardAlt" id="">
  			<div class="col-4">
 				 <div class="card-img">
   					<img src="img/business.jpg" title="">
					</div>
 				</div>
			<div class="col-7">
		        <h2 class="card-box-title" class="col-2">Monopoly</h2>
		        <p class="cardText1">“Classic Gaming”</p>
		    	</div>
			</div>
  		</div>
	</div>
	</figure>
	<div class="row">
		<div class="col">
			<figure class="figure-wrapper">
			<div class="cardAlt" id="card1">
  			<div class="col-4">
 				 	<div class="card-img">
   					<img src="img/life.jpg" title="">
					</div>
 				</div>
				<div class="col-7">
		        <h2 class="card-box-title, col-2, sTextEdit">The Game Of Life</h2>
		        <p class="cardText1">“You will learn about life when you play The Game of Life”</p>
		    </div>
			</div>
			  	</div>
				</div>
			</figure>
	<div class="row">
		<div class="col">
			<figure class="figure-wrapper">
			<div class="cardAlt" id="card1">
  			<div class="col-4">
 				 	<div class="card-img">
   					<img src="img/cash5.jpg" title="">
					</div>
 				</div>
				<div class="col-7">
		        <h2 class="card-box-title" class="col-2">CashFlow</h2>
		        <p class="cardText1">“Win the Rat race!”</p>
		    </div>
			</div>
  	</div>
	</div>
</figure>
</section-->
</section>




 