<section class="pgHome">
	<div class="col-10 offset-1">
 		<h1 class="title, ">Git The Bag$$</h1>
	</div>
		 <div id="demo" class="carousel slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1" class="active"></li>
	    <li data-target="#demo" data-slide-to="2" class="active"></li>
	    <li data-target="#demo" data-slide-to="4" class="active"></li>
	  </ul>
	  
	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="img/monopoly.jpg" alt="" width="1100" height="500">
	    </div>
	    <div class="carousel-item">
	      <img src="img/img3.jpg" alt="" width="1100" height="500">
	    </div>
	   <div class="carousel-item">
	      <img src="img/mario.jpg" alt="" width="1100" height="500">
	    </div>
	    <div class="carousel-item">
	      <img src="img/sega2jpg.jpg" alt="" width="1100" height="500">
	    </div>
	  </div>
	  
	  
	  <!-- Left and right controls -->

	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	    <span class="sr-only">Next</span>
	  </a>

	</div>
	<h1>Biography/Story</h1>
 <section class="container-fluid">
 	<figure class="figure-wrapper">
 		<div class="col">
		<p class="bio">	Welcome to our companion site<br> where you will discover the most classic board games, all the way from financial literacy games building your<br> cognitive skiills,<br> getting thrown into all types of finiacial struggles testing, building, and applying your actual knowledge<br> in being able to successfully manage your finances<br> or just finding yourself bankrupt!!<br> To our most loved stratigeic yet "dumb fun" games like Sorry, Scrable, or another classic, BattleShip.<br>  
	All Digitized here on our GitTheBag$ site.
	 	</p>
		</div>
		</figure>
	</section>
<section class="container SectionCard"> 
	<div class="card">
		<div class="card-body">
	<div class="row">
		<div class="col">
			<figure class="figure-wrapper">
			<div class="cardAlt" id="">
  			<div class="col-4">
 				 <div class="card-img">
 				 	<p class="card-text" id="text2">Wheel and deal as you build your fortune playing<br> an exciting game of Business online.<br> Buy up whole neighborhoods, charge rent, and watch your empire grow.<br> It's all about making deals and making money. But don't land in Jail!
You better keep an eye on your money,<br> because you never know when the dice will land you with a massive rent bill to pay.</p>

   					<img src="img/business.jpg" title="">
   					<p class="card-text" id="caption">Relive one of the most iconic board game series of all time, the classic Business game. 
   					</div>
					</div>
 				</div>
			<div class="col-7">
				</div>
		        <h2 class="card-box-title"id="subtitle" class="col-2">Business</h2>
		     
		    	</div>
			</div>
  		</div>
	</div>
	</figure>
		</div>
	</div>
<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<figure class="figure-wrapper">
					<div class="cardAlt" id="card1">
		  			<div class="col-4">
 				 	<div class="card-img">
 				 		
 				 		<p class="card-text" id="text2">Playing The Game of Life parallels a 
 		               person’s life in several ways.<br>Players must choose between “college” and “business” early in the game.<br> Payday comes sooner for the businessperson,<br>but college may mean higher paychecks in the end.<br>Marriage and children usually occur during the game and impacts your ...LIFE.</p>
 				 		
   					<img src="img/life.jpg" title="">
   					<p class="card-text"id="caption">You will learn about life when you play The Game of Life”</p>
					</div>
				</div>
		 				</div>
						<div class="col-7">
						</div>
				        <h2 class="card-box-title,sTextEdit" id="subtitle">The Game Of Life</h2>
				    </div>
					</div>
			  	</div>
				</div>
			</figure>
			</div>
			</div>
<div class="card">
		<div class="card-body">			
	<div class="row">
		<div class="col">
			<figure class="figure-wrapper">
			<div class="cardAlt" id="card1">
  			<div class="col-4">
 				 	<div class="card-img">
 				 		<p class="card-text" id="text2">CASHFLOW won’t teach you how to get a<br> promotion or find a better job… <br>but it will enable you to travel the world, cure a disease or save the rainforest… <br>if that’s your dream. This simple board game about money will give you the motivation and<br> roadmap to retire young and rich,<br> giving you a better life for you and your family… all through game play!<br></p>
   					<img src="img/cash5.jpg" title="">

   					<p class="card-text"id="caption">“Win the Rat race!”</p>
   				</div>
					</div>
 				</div>
				<div class="col-7">
		    </div>
		       	 <h2 class="card-box-title"id="subtitle" class="col-2">CashFlow</h2>
				    	</div>
					</div>
		  		</div>
			</div>
  				</figure>
				</div>
				</div>


			</figure>
				</div>
				</div>
</section>
</section>




 