
    <main>
		<div class="col-10 offset-1">
   		<h1 class="title">Git The Bag$$</h1>
   		</div>
      <div id="demo" class="carousel slide" data-ride="carousel">


	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1" class="active"></li>
	    <li data-target="#demo" data-slide-to="2" class="active"></li>
	    <li data-target="#demo" data-slide-to="4" class="active"></li>
	  </ul>
	  
	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="image.png" alt="" width="1100" height="500">
	    </div>
	    <div class="carousel-item">
	      <img src="gp.png" alt="" width="1100" height="500">
	    </div>
	   <div class="carousel-item">
	      <img src="img3.jpg" alt="" width="1100" height="500">
	    </div>
	    <div class="carousel-item">
	      <img src="sega2jpg.jpg" alt="" width="1100" height="500">
	    </div>
	  </div>
	  
	  
	  <!-- Left and right controls -->

	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	    <span class="sr-only">Next</span>
	  </a>
	  </div>
	<section class="col-10 offset-1">
      <div>
      <h2>Biography/Story</h2>		
	  <p>Git The Bag$$ is a website that intends to provide you a platform to play a variaty of games 
	  	that are educational, fun, and appropriate for both adults and children.</p>
	</div>
	</section>

        
    <section class="homePg"> 
    <div class="col">
	  <div class="container">
		<div class="row justify-items-start">
		  <div class="column">
			<div class="card" id="card2">
			<div class="col-6 col-sm-4 ">
    		  <div class="card-wrapper">
   				<div class="card-img">
           		  <img src="game.jpg" style="height:200px; width:200px" title="">
	  			</div>
	   		  </div>
	   		  </div>
		          <div class="card-box">
                    <h3 class="card-box-title" class="col-2">GamePal</h3>
                    <p class="cardText1">“Classic Gaming”</p>
                  </div>
    	        </div>
		      </div>
		    </div>  
		<div class="row justify-items-center">
		  <div class="column">
 		    <div class="card" id="card2">
 		      <div class="col-6 col-sm-4 ">	
              <div class="card-wrapper">
                <div class="card-img">
                  <img src="life.jpg" style="height:200px; width:200px" alt="" title="">
                </div>
              </div>
              </div>
                <div class="card-box">
                  <h4 class="card-box-title" class="col-2"> The Game Of Life</h4>
                  <p class="cardText1">“You will learn about life when you play The Game of Life”</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row justify-items-end">
          <div class="column">
            <div class="card" id="card2">
              <div class="col-6 col-sm-4 ">
              <div class="card-wrapper">
                <div class="card-img">
                  <img src="cash5.jpg" style="height:200px; width:200px" alt="" title="">
                </div>
              </div>
              <div>
                <div class="card-box">
                  <h3 class="card-box-title" class="col-2">CashFlow</h3>
                  <p class="cardText1"> Win the Rat race and achieve your dream!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
    </main>




 