
<main>
   <div id="demo" class="carousel slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1" class="active"></li>
	    <li data-target="#demo" data-slide-to="2" class="active"></li>
	    <li data-target="#demo" data-slide-to="4" class="active"></li>
	  </ul>
	  
	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="image.png" alt="" width="1100" height="500">
	    </div>
	    <div class="carousel-item">
	      <img src="gp.png" alt="" width="1100" height="500">
	    </div>
	   <div class="carousel-item">
	      <img src="img3.jpg" alt="" width="1100" height="500">
	    </div>
	    <div class="carousel-item">
	      <img src="sega2jpg.jpg" alt="" width="1100" height="500">
	    </div>
	  </div>
	  


	  
	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<h2>Biography/Story</h2>
	<section class="col-10 offset-1">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</section>
	<div class="col-auto">
<section class="SectionCardContainer col-12 col-md-6 col-lg-4" class="container-fluid">
	<div class="card" id="card1">
    <div class="card-wrapper">
    <div class="card-img">
           <img src="game.jpg" title="">
	  </div>
	   </div>
	<div class="card-box">
        <h2 class="card-box-title" class="col-4">GamePal</h2>
        <p class="cardText">“Classic Gaming”</p>
        </div>
		</div>
 	<div class="card" id="card2">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="life.jpg" alt="" title="">
                    </div>
                	</div>
                	<div class="card-box">
                		<h3 class="card-box-title" class="col-4"> The Game Of Life</h3>
                		<p class="cardText">“You will learn about life when you play The Game of Life”</p>
                	</div>
                </div>
                <div class="card" id="card2">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="cash5.jpg" alt="" title="">
                    </div>
                	</div>
                	<div class="card-box">
                		<h4 class="card-box-title" class="col-4">CashFlow</h4>
                		<p class="cardText"> Win the Rat race and achieve your dream!</p>
                	</div>
                </div>
</section>
</div>
</main>
<!--<div class="row iteminfo">
  <div class="col-4">
    <p>item </p>
  </div>
    <div class="col-4">
    <p>item </p>
  </div>
  <div class="col-4">
    <p>item </p>
  </div>
</div>
</div>-->



 