
<main>
   <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1" class="active"></li>
    <li data-target="#demo" data-slide-to="2" class="active"></li>
    <li data-target="#demo" data-slide-to="4" class="active"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="" alt="" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="" alt="" width="1100" height="500">
    </div>
   <div class="carousel-item">
      <img src="" alt="" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="" alt="" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="" alt="" width="1100" height="500">
    </div>
  </div>
  </div>
  


  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h2>Biography/Story</h2>
<p> Story of the project. Why did we create it?</p>
<div class="row iteminfo">
  <div class="col-4">
    <p>item </p>
  </div>
    <div class="col-4">
    <p>item </p>
  </div>
  <div class="col-4">
    <p>item </p>
  </div>
</div>
</div>
</main>


 