  <!-- Store -->
  <section class="merch container">
  <h1 class="Title, sTitle">$GitTheBag Store</h1>
  	<div class="merch row">
  		<div class="col-12">
			</div>
		<!--span class="merchantSection" class="col-4"-->
    		<div class=" col-md-6 col-lg" id="merchbox1">
    			<div class="merch-wrapper">
    				<div class="card-img">
    					<img src="img/pandemic.png">
    					<p class="cardText">“Merch !”</p>
    				</div>
				</div>
    		</div>
    		<div class=" col-md-6 col-lg-4" id="merchbox2">
    			<div class="merch-wrapper">
    				<div class="card-img">
    					<img src="img/sub.jpg">
    					<p class="cardText">“Merch !”</p> 
    				</div>
				</div>
    		</div>
    		<div class=" col-md-6 col-lg-4" id="merchbox3">
    			<div class="merch-wrapper">
    				<div class="card-img">
    					<img src="img/lordofvegas.jpg	"> 
    					<p class="cardText">“Merch !”</p>
    				</div>
    			</div>
    		</div>
   	 		<div class=" col-md-6 col-lg-4"id="merchbox4">
    			<div class="merch-wrapper">
    				<div class="card-img">
    					<img src="img/clue.jpg">
    					<p class="cardText">“Merch !”</p>
    				</div>
    			</div>
    		</div>
   	 		<div class=" col-md-6 col-lg-4"id="merchbox5">
    			<div class="merch-wrapper">
    				<div class="card-img">
    					<img src="img/bags.jpg">
    					<p class="cardText">“Merch !”</p>
    				</div>			
   			 	</div>
   		 	</div>
    		<div class=" col-md-6 col-lg-4"id="merchbox6">
    			<div class="merch-wrapper">
    				<div class="card-img">
    					<img src="img/catan.jpg">
    					<p class="cardText">“Merch !”</p>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-6 col-lg-4"id="merchbox7">
    			<div class="merch-wrapper">
    				<div class="card-img">
    					<img src="img/candy.jpg">
    					<p class="cardText">“Merch !”</p>
    				</div>
    			</div>
    		</div>
<!--added more boxes -steven -->			
			<div class=" col-md-6 col-lg-4"id="merchbox4">
    			<div class="merch-wrapper">
    				<div class="card-img">$$$
    					<img src="git.jpg">
    					<p class="cardText">“Merch !”</p>
    				</div>
    			</div>
    		</div>
			<div class=" col-md-6 col-lg-4"id="merchbox4">
    			<div class="merch-wrapper">
    				<div class="card-img">$$$
    					<img src="git.jpg">
    					<p class="cardText">“Merch !”</p>
    				</div>
    			</div>
    		</div>
<!--end of added more boxes-->	
			</div>
		</span>
</section>
