  <!-- Store -->
<h1 class="#">$GitTheBag Store</h1>
<span class="#">
    <div><img src="#">Item 1</div>
    <div><img src="#">Item 2</div>
    <div><img src="#">Item 3</div>
    <div><img src="#">Item 4</div>
    <div><img src="#">Item 5</div>
    <div><img src="#">Item 6</div>
    <div><img src="#">Item 7</div>
    <div><img src="#">Item 8</div>
</span>
