  <section class="pgProfile">
  <!--Profile Picture -->
<div class="container">
  <h1 class="h-1" style="text-align: center; color: #525651; text-shadow: 2px 3px rgba(116, 160, 208, 0.5);">Profile Page</h1>
  <div class="row"> 
    <div class="col col-xs-12 col-sm-3 col-lg-3">
      
         <img src="http://www.pngall.com/wp-content/uploads/5/Profile-Male-PNG.png"alt="profile pic" class="img-fluid">
       
    </div>
    <div class="col col-xs-12 col-sm-7 col-offset-sm-2 col-lg-9">
      
    <!-- bootstrap form -->
  <form>
    <div class="form-group">
      <label for="exampleUserName">User Name</label>
      <input type="text" class="form-control" id="exampleUserName" aria-describedby="emailHelp" placeholder="User Name">
    </div>
    <div class="form-group">
      <label for="exampleName">Your Name</label>
      <input type="text" class="form-control" id="exampleName" placeholder="Name">
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" aria-describedby="emailHelp" placeholder="Location">
    </div>
    <div>
      <label for="exampleMemberSince">Member Since</label>
      <input type="text" class="form-control" id="memberSince" aria-describedby="emailHelp" placeholder="Member Since">
    </div>
    <div>
      <label for="exampleK/Oratio">K/O Ratio</label>
      <input type="text" class="form-control" id="K/O Ratio" aria-describedby="emailHelp" placeholder="K/O Ratio">
    </div>
  </form>
      <!-- Info -->
      <!-- 
    <div class="column">
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="Name" placeholder="Name" />
      <input type="text" name="Location" placeholder="Location" />
      <input type="text" name="Member since" placeholder="Member Since" />
      <input type="text" name="K/O Ratio" placeholder="K/O Ratio" />
    </div> 
    -->  

<div class="container">
  <div class="row">
    <div class="col col">
      <h1 class="h-2" style="text-align: center; color: #525651; text-shadow: 2px 3px rgba(116, 160, 208, 0.5);">Biography</h1> 
    <div class="imgGroup">    
      <img class="Images" src="http://www.madisonreia.com//Images/cashflow-logo-287x300.png" alt="cashflow game" style="width: 300px; height: 300px">
      <img class="Images" src="https://images-na.ssl-images-amazon.com/images/I/61Yj5sizWqL._AC_.jpg" alt="escape the rat race" style="width: 300px; height: 300px">
      <img class="Images" src="https://www.pngjoy.com/pngl/100/2097892_monopoly-money-world-of-warcraft-monopoly-png-download.png" alt="monopoly" style="width:300px; height:300px">
    </div>
    <p>Are you searching about a game that is educational and suitable to play with both your friends and your kids? We got you covered! JOIN NOW to enjoy these educational games that teach you about financial literacy.</p>
  </div>
</div>
</div>
</section>