  <section class="pgProfile">
  <!--Profile Picture -->
<div class="container-fluid">
  <h1 class="h-1" style="text-align: center; color: #525651; text-shadow: 2px 3px rgba(116, 160, 208, 0.5);">Profile Page</h1>
  <div class="row"> 
    <div class="col-xs-1 col-sm-6 col-lg-3">
      <div class="column">
         <img src="http://www.pngall.com/wp-content/uploads/5/Profile-Male-PNG.png" alt="profile pic" style="width: 250px; height: 250px;">
      </div>  
    </div>
    <div class="col-xs-1 col-sm-6 col-lg-9">
      <!-- Info -->
    <div class="column">
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="Name" placeholder="Name" />
      <input type="text" name="Location" placeholder="Location" />
      <input type="text" name="Member since" placeholder="Member Since" />
      <input type="text" name="K/O Ratio" placeholder="K/O Ratio" />
    </div>
  </div>
  </div>
</div>  

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="h-2" style="text-align: center; color: #525651; text-shadow: 2px 3px rgba(116, 160, 208, 0.5);">Biography</h1> 
    <div class="imgGroup">    
      <img class="Images" src="http://www.madisonreia.com//Images/cashflow-logo-287x300.png" alt="cashflow game" style="width: 300px; height: 300px">
      <img class="Images" src="http://www.madisonreia.com//Images/cashflow-ratrace-248x201.png" alt="escape the rat race" style="width: 300px; height: 300px">
      <img class="Images" src="https://www.pngjoy.com/pngl/100/2097892_monopoly-money-world-of-warcraft-monopoly-png-download.png" alt="monopoly" style="width:300px; height:300px">
    </div>
    <p>
    Esse nisi nostrud irure officia eu aute aliqua officia magna ut consequat enim labore. 
    Commodo nisi consequat magna commodo anim excepteur ut irure sunt sed deserunt. 
    Ad ut sint deserunt amet duis occaecat do aliqua quis dolore commodo proident. 
    Irure cillum deserunt adipisicing dolore commodo sint laboris sint nisi et labore. 
    Incididunt sunt tempor consequat pariatur dolor incididunt tempor eu cillum 
    quis labore cupidatat nostrud in consequat enim est. Cupidatat nostrud qui 
    eiusmod ea tempor do ut enim deserunt dolore sit ut voluptate cupidatat.
    </p>
  </div>
</div>
</div>
</section>