  <section class="pgProfile">
  <!--Profile Picture -->
<div class="container">
  <h1 class="h-1" style="text-align: center; text-shadow: 2px 3px rgba(116, 160, 208, 0.5);">Profile</h1>
  <div class="row"> 
    <div class="col col-xs-12 col-sm-3 col-lg-3">
      
         <img src="http://www.pngall.com/wp-content/uploads/5/Profile-Male-PNG.png"alt="profile pic" class="img-fluid">
       
    </div>
    <div class="col col-xs-12 col-sm-7 col-offset-sm-2 col-lg-9">
      
  <form>
    <div class="form-group">
      <label for="exampleUserName">User Name</label>
      <p type="text" class="p-1" style="text-align:left; border: 2px solid #3E7E51; background-color: white;">user1$</p>
    </div>
    <div class="form-group">
      <label for="exampleName">Display Name</label>
      <p type="text" class="p-1" style="text-align:left; border: 2px solid #3E7E51;background-color: white;">AllGoodNamesRgone</p>
    </div>
    <div>
      <label for="location">Timo Zone</label>
      <p type="text" class="p-1" style="text-align:left; border: 2px solid #3E7E51;background-color: white;">GMT-7</p>
    </div>
    <div>
      <label for="exampleMemberSince">Member Since</label>
      <p type="text" class="p-1" style="text-align:left; border: 2px solid #3E7E51;background-color: white;">2014</p>
    </div>
    <div>
      <label for="exampleK/Oratio">Email</label>
      <p type="text" class="p-1" style="text-align:left; border: 2px solid #3E7E51;background-color: white;">AllGoodNamesRgone@email.com</p>
    </div>
  </form>
</div>  

<section class="bottomPg">
<div class="container-fluid">
  <h1 class="h-2" style="text-align: center; color: #525651; text-shadow: 2px 3px rgba(116, 160, 208, 0.5);">Biography</h1>
    <p style="outline-style: double;">
      Hello! I'm a player located in California ranking diamond with a win percentage of 70.8% chance of winning. You can also find me and connect with me on these social media platforms below.<img src="https://images.squarespace-cdn.com/content/v1/5d7945a044be58081feeae49/1580682034106-YOC6XOJISEO4TUBB97TG/ke17ZwdGBToddI8pDm48kJUkBfdLhCBCiCqnCJhFFYUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcX0pHcppMIxYQzg8Vi6B0WL0Caj5on2SFjx2LuqCIuP3KxCr7ekJxdSK5HSiUacjD/Icons.png?format=1500w" alt="social medias" style="height: 180px; width: auto">
    </P>

    <h1 class="h-1" style="text-align: center; text-shadow: 2px 3px rgba(116, 160, 208, 0.5);">Game Reommendations</h1> 
    <p class="p1" style="outline-style: double;">Are you searching about a game that is educational and suitable to play with both your friends and your kids? We've got you covered! JOIN NOW to enjoy these educational games that teach you about financial literacy.
    </p> 
  <div class="row" style="margin-top: 50px; margin-bottom: 100px;">
    <img class="col-lg Images" src="http://www.madisonreia.com//Images/cashflow-logo-287x300.png" alt="cashflow game" style="width: 300px; height: 300px">  
    <img class="col-lg Images" src="https://images-na.ssl-images-amazon.com/images/I/61Yj5sizWqL._AC_.jpg" alt="charge large" style="width: 300px; height: 300px">    
    <img class="col-lg Images" src="img/payday.png" alt="pay day" style="width: 300px; height: 300px">
    <img class="col-lg-3 Images" src="https://www.pngjoy.com/pngl/100/2097892_monopoly-money-world-of-warcraft-monopoly-png-download.png" alt="monopoly" style="width:300px; height:300px">
  </div>
</div>
</section>