<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
    
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="Name" placeholder="Name" />
    <input type="text" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password2" placeholder="Retype password" />
 	<input type="text" name="Date Of Birth" placeholder="DOB" />

    
    <input type="submit" name="signup_submit" value="Sign me up" />
  </div>
  
  <div class="space-across">
    <div class="item1"><button class="social-signin-facebook"><img src="img/facebook.png"; width="25" height="25";/> Log in with facebook</button></div>
    <div class="item2"><button class="social-signin-twitter"><img src="img/twitter.png"; width="25" height="25";/> Log in with Twitter</button></div>
    <div class="item3"><button class="social-signin-google"><img src="img/google.png"; width="25" height="25";/> Log in with Google</button></div>
  </div>
</div>
