<div id="login-box">
  <div class="vertical">
    <h1>Sign up</h1>

    <form action="/action_page.php">
      <input type="text" name="username" placeholder="Username" class="user, input" required/>
      <input type="text" name="Name" placeholder="Name" class="user, input" required/>
      <input type="text" name="email" placeholder="E-mail" class="user, input" required/>
      <input type="password" name="password" placeholder="Password" class="user, input" required/>
      <input type="password" name="password2" placeholder="Retype password" class="user, input" required/>
      <input type="text" name="Date Of Birth" placeholder="DOB" class="user, input" required/>
      <input type="submit" name="signup_submit" value="Sign me up" class="rightside" onclick="validate()"/>
    </form>
    
  </div>
  &nbsp;
  <div class="sizer">
    <div class="facebook"><button class="social-signin-facebook"><img src="img/facebook.png"; width="25" height="25";/> Sign up with facebook</button></div>
    <div class="twitter"><button class="social-signin-twitter"><img src="img/twitter.png"; width="25" height="25";/> Sign up with Twitter</button></div>
    <div class="google"><button class="social-signin-google"><img src="img/google.png"; width="25" height="25";/> Sign up with Google</button></div>
  </div>
</div>
&nbsp;