<div id="login-box">
  <div class="vertical">
    <h1>Sign up</h1>

    <form name="form" id="formSignUp" action="#" method="POST" >
      <input type="text" name="Username" id="username" placeholder="Username" class="user input" />
      <input type="text" name="Firstname" id="firstname" placeholder="First Name" class="user input" />
      <input type="text" name="Lastname" id="lastname" placeholder="Last Name" class="user input" />
      <input type="text" name="Email" id="email" placeholder="E-mail" class="user input" />
      <input type="password" name="Password" id="password" placeholder="Password" class="user input" />
      <input type="password" name="Confirmpass" id="confirmpass" placeholder="Retype password" class="user input" />
      <input type="text" name="Dob" id="dob" placeholder="Date of Birth (mm/dd/yyyy)" class="user input" />
      <input type="submit" name="Signup-submit" id="signup-submit" value="Sign me up" class="rightside"/>
    </form>
    
  </div>
  &nbsp;
  <div class="sizer">
    <div class="facebook"><button class="social-signin-facebook"><img src="img/facebook.png"; width="35" height="35";/> Sign up with facebook</button></div>
    <div class="twitter"><button class="social-signin-twitter"><img src="img/twitter.png"; width="35" height="35";/> Sign up with Twitter</button></div>
    <div class="google"><button class="social-signin-google"><img src="img/google.png"; width="35" height="35";/> Sign up with Google</button></div>
  </div>
</div>
&nbsp;
