<div id="login-box">
  <div class="vertical">
    <h1>Sign up</h1>
    
    <input type="text" name="username" placeholder="Username" class="user" />
    <input type="text" name="Name" placeholder="Name" class="user"/>
    <input type="text" name="email" placeholder="E-mail" class="user"/>
    <input type="password" name="password" placeholder="Password" class="user"/>
    <input type="password" name="password2" placeholder="Retype password" class="user"/>
 	<input type="text" name="Date Of Birth" placeholder="DOB" class="user"/>

    
    <input type="submit" name="signup_submit" value="Sign me up" class="rightside"/>
  </div>
  &nbsp;
  <div class="sizer">
    <div class="facebook"><button class="social-signin-facebook"><img src="img/facebook.png"; width="25" height="25";/> Log in with facebook</button></div>
    <div class="twitter"><button class="social-signin-twitter"><img src="img/twitter.png"; width="25" height="25";/> Log in with Twitter</button></div>
    <div class="google"><button class="social-signin-google"><img src="img/google.png"; width="25" height="25";/> Log in with Google</button></div>
  </div>
</div>
&nbsp;
&nbsp;
&nbsp;
