<!--....................................dice.....................................................-->

<div class="Dice" style="padding-top: 50px;">
  <p>Dice Roll</p>
<div class="space-across-dice">
<div id="die1" class="dice">0</div>
<div id="die2" class="dice">0</div>
<div id="die3" class="dice">0</div>
</div>
<h5 style="text-align: center;">Click once for it to start rolling, click it again to stop it.</h5>
<button onclick="rollDice(), rotateImage()" class="dice-button">Roll Dice</button>


<!--.......................................end of dice............................................................-->

<div>
  <p style="margin-top: 100px; margin-bottom: 0px;">Calculator</p>
<div class="cal-body">
{{!-- <div class="col-sm-6 col-md-6 col-lg-4">
</div>   --}}
<div class="calculator">
  <div class="cal-input" id="cal-input"></div>
  <div class="cal-buttons">
    <div class="cal-operators">
      <div>+</div>
      <div>-</div>
      <div>&times;</div>
      <div>&divide;</div>
    </div>
    <div class="cal-leftPanel">
      <div class="cal-numbers">
        <div>7</div>
        <div>8</div>
        <div>9</div>
      </div>
      <div class="cal-numbers">
        <div>4</div>
        <div>5</div>
        <div>6</div>
      </div>
      <div class="cal-numbers">
        <div>1</div>
        <div>2</div>
        <div>3</div>
      </div>
      <div class="cal-numbers">
        <div>0</div>
        <div>.</div>
        <div id="cal-clear">C</div>
      </div>
    </div>
    <div class="cal-equal" id="cal-result">=</div>
  </div>
</div>
</div>
</div>

