.chatWindow{
	height: 400px;
	overflow: scroll;
}
.chatBox{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 18px;
}
.btnSend{
	width: 100%;
	height: 30px;
}

/*.navbar{
	/*overflow: hidden;/
	background-color: #3E7E51/*dark green/;
}

/*.carousel{
	padding: 50px;
	border:10px solid transparent;
	border-image: 50 round;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
	display: block;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }*/

/*.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}*

/*nav{
	font-family:fantasy;
	font-weight: 600;
	background-color:#3E7E51;
} *

.navbar a{
	float: right;
	font-size: 15px;
	color: white;
	text-align: center;
	padding: 15px
}

h1{
	text-align:center;
	padding: 100px;
}

body{
	background-image: linear-gradient(#D4EEDC,#eaea45b5);
	background-color:#D4EEDC;
	color: black;
}
.footer{
	background-color:#3E7E51;
	border-top: 1px solid #000;
}
.footer .rowsection{
	text-align: center;	
}

.col-6{
/*	max-width: 1000px;
	flex: 10 0 0%*
}
.section .Storerow{
	display: table;
}

p{
	padding: 100px;
	outline-style: none;
	white-space: pre;
	font-family: fantasy;
	text-align: center;
	font-size: x-large;
} 

iframe{
	width: 100%;
	height: 300px;
	outline-style: groove;
	outline-color: #D4EEDC;
}

h2{
	padding: 10%;
}
/*@media all and(max-width: 100%){
	max-width: 100%;
	}
}*/

/*@media all and (min-width: 576px){
.container .container-sm {
    max-width: none;
	}
}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: none;
	}
}*/

/*.SectionCardContainer .card{
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 50px;
  display: table-cell;*
}
.card{
	background-color: #D4EEDC;
}
 .card-wrapper {
    height: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
   -webkit-flex:1;
}
#card2{
	padding: 50px;
}
.col-auto {
/*    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding: 50px;*
}
.col-12{
*	padding: 50px;
	display: contents;*
}

h2{
	border-bottom: groove;
	font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
     max-width: min-content;
}

h3 {
    font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
    max-width: min-content;
}

h4 {
    font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
    max-width: min-content;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    padding: 50px;
}

.cardText{
    text-align: center;
    justify-content: center;
    /* outline-style: groove; *
    border-bottom: solid;
    border-radius: 50px;
    background-image: linear-gradient(45deg,#D4EEDC, #3e7e51);
}
.cardText1{

}
.cardAlt {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;*
    background-color: #b17246;
    background-clip: border-box;
    border-radius: 50rem;
    padding: 50px;
    background-image: linear-gradient(#D4EEDC,#3e7e51);
}
img {
    vertical-align: middle;
    border-style: none;
    padding: inherit;
}
/*----------Tyrees Code-----------------*/

.navbar{
	overflow: hidden;
	background-color: #3E7E51/*dark green*/;
	text-transform: uppercase;
	white-space: pre;
}

.carousel{
	padding: 50px;
	border:10px solid transparent;
	border-image: 50 round;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
	display: block;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

nav{
	font-family:fantasy;
	font-weight: 600;
	background-color:#3E7E51;
} 

.navbar a{
	float: right;
	font-size: 15px;
	color: white;
	text-align: center;
	padding: 15px

}

h1{
	text-align:center;
	text-align-last: justify;
	padding: 100px;
	font-variant: small-caps;
	animation-name: color;
	animation-duration:6s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}

@keyframes color {
	from{color: red;}
	to {color: yellow;}
}

body{
	background-image: linear-gradient(#D4EEDC,#eaea45b5);
	background-color:#D4EEDC;
	color: black;
}
.footer{
	background-color:#3E7E51;
	border-top: 1px solid #000;
}
footer .rowsection{
	text-align: center;	
}
.col{
	padding: 19px;
}
.col-6{
	max-width: 1000px;
	flex: 10 0 0%
}
.section .Storerow{
	display: table;
}

p{
	padding: 50px;
	outline-style: none;
	white-space: pre;
	font-family: fantasy;
	text-align: center;
	font-size: x-large;
} 

iframe{
	width: 100%;
	height: 300px;
	outline-style: groove;
	outline-color: #D4EEDC;
}

h2{
	padding: 10%;
}
@media all and(max-width: 100%){
	max-width:100%;
	}
}

@media all and (min-width: 576px){
.container .container-sm {
    max-width: none;
	}
}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: none;
	}
}

}
.card{
	background-color: #D4EEDC;
}
 .card-wrapper {
    height: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
   -webkit-flex:1;
}

.col-12{
	padding: 50px;
	display: contents;
}

h2{
	border-bottom: groove;
	font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
     max-width: min-content;
}

h3 {
    font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
    max-width: min-content;
}

h4 {
    font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
    max-width: min-content;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    padding: 50px;
}

.cardText{
    text-align: center;
    justify-content: center;
    /* outline-style: groove; */
    border-bottom: solid;
    border-radius: 50px;
    background-image: linear-gradient(45deg,#D4EEDC, #3e7e51);
    animation-name: background;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
}
@keyframes background {
	from{background-color:#D4EEDC;}
	to {background-color:#3e7e51;}
}
.cardAlt{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #b17246;
    background-clip: border-box;
    border-radius: 50rem;
    padding: 50px;
    background-image: linear-gradient(#D4EEDC,#3e7e51);
}
img {
    vertical-align: middle;
    border-style: none;
    padding: inherit;
}
/*----------------------Sign up-------------------------*/
.boxInput{
	width:100%;
	padding: 5px;
	border:2px solid #3E7E51;
	margin: 8px 0;
	border-radius: inherit;
}
.social-signin-facebook{
	border:2px solid #3E7E51;
	padding: 5px;
}

.social-signin-twitter{
	border:2px solid #3E7E51;
	padding: 5px;
}
.social-signin-google{
	border:2px solid #3E7E51;
	padding: 5px;
}
.space-across{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}
.facebook{
	grid-column: 3 / 3;
}
.twitter{
	grid-column: 4 / 4;
}
.google{
	grid-column: 5 / 5;
}
.user{
	padding: 10px;
}
.bigbox{
	padding: 50px;
	border:2px solid #3E7E51;
	width: 100%;
	margin: 8px 0;
}
.vertical{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.rightside{
	display: block;
	width: 50%;
	padding: 5px;
	border:2px solid #3E7E51;
	margin: 8px auto;
}
.sizer{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto;
}
@media screen and (max-width: 709px) {
	.sizer {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	.social-signin-facebook{
		border:2px solid #3E7E51;
		padding: 5px;
		width: 100%;
	}
	.social-signin-twitter{
		border:2px solid #3E7E51;
		padding: 5px;
		width: 100%;
	}
	.social-signin-google{
		border:2px solid #3E7E51;
		padding: 5px;
		width: 100%;
	}
}

.separater{
	color: solid #3E7E51;
	outline-color: #9c27b0/*purple*/;
}
.user.invalid{
  border-color: red;
}
/*--------------------------------------end of sign up----------------------------------*/

/* Profile Page */
.pgProfiole container-fluid{
	padding-top: 50px;
	text-align: center;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;

}

.pgProfile row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-right: wrap; 
	margin-right: -329px;
	margin-left: -18px;
	margin-bottom: 58px;
}

.pgProfile column {
    display: flex;
    flex: 100%;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

/* Responsive layout - when the screen is less than 600px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.pgProfile h1{
	text-align:center;
	padding: 50px;
}

/*.column-left {
    padding-top: 55px;
    /*padding-right: -19px; */
   /*display: table-cell;
    vertical-align: left;
} */

/*
.column-right {
    width: 70%;
    padding-top: 90px;
    /*padding-right: 50px; */
    /*vertical-align: right;
} 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
/* Responsive layout() */
}

.merchrow{
	display: -webkit-inline-box;
	display: block;
}

.row2{
	padding: 19px;
}

@media screen and (min-width: 576px){
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 30%;
  }
}    


.pgProfile h-1, h-2{
	margin-top: 45px;
	font-size: 3.5rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.imgGroup{
	display: block;
	margin: 0px;
	padding-left: 126px;
	position: relative;
	height: auto;
	max-width: auto;
	overflow-y: hidden;
	overflow-x: auto;
	word-wrap: normal;
	white-space: nowrap;
	justify-content: space-between;
}

.Images{
	display: inline;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.pgProfile p{
	outline-style: none;
    white-space: normal;
    font-family: monospace;
    text-align: center;
    margin-bottom: 1rem;

}

.pgProfile input{
	width: 100%;
	padding: 3px;
	border:5px outset #80c18f;
	margin: 8px;
	border-radius: inherit;
}

/* image shaking animation*/
.Images:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake{
	0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.button:focus{
	border-radius: 15rem;
	background-color: #D4EEDC;
}
/* ^ Profile Page ^ */

/* Tool View Page */
.cal-body {
  width: 416px;
  margin: 4% auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.calculator {
  padding: 20px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  background-color: black;
}

.cal-input {
  border: 1px solid #ddd;
  border-radius: 1px;
  height: 80px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all .2s ease-in-out;
  color: white;
}

.cal-input:hover {
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.cal-buttons {}

.cal-operators {}

.cal-operators div {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.cal-operators div:hover {
  background-color: #ddd;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.cal-operators div:active {
  font-weight: bold;
}

.cal-leftPanel {
  display: inline-block;
}

.cal-numbers div {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.cal-numbers div:hover {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.cal-numbers div:active {
  font-weight: bold;
}

.cal-equal {
  display: inline-block;
  border: 5px outset #fbd461;
  border-radius: 1px;
  width: 21%;
  text-align: center;
  padding: 127px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: bottom;
  cursor: pointer;
  color: #FFF;
  background-color: #7e4fda;
  transition: all .2s ease-in-out;
}

.cal-equal:hover {
  background-color: #fbd461;
  border: 5px outset #7e4fda;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #7e4fda;
}

.cal-equal:active {
  font-weight: bold;
}
/* ^ Tool View Page ^ */

/* css alignment fixes -Steven */
.sTitle{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.sTitle2{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
.cardText{
  text-align: center;
  justify-content: center;
  /*outline-style: groove; */
  border-bottom: solid;
  border-radius: 50px;
  background-image: linear-gradient(45deg,#D4EEDC, #3e7e51);
  width: 340px;
}
.scolumn{
  width: 100%;
  margin-left: 100px;
  margin-right: auto;
}

/* end of css alignment fixes -Steven */
/*-------------------------------------dice-----------------------------------------------*/

div.dice{
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size:80px;
}
  /*----------------------------------end of dice-----------------------------------------------*/