.chatWindow{
	height: 400px;
	overflow: scroll;
}
.chatBox{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 18px;
}
.btnSend{
	width: 100%;
	height: 30px;
}
/*----------Tyrees Code-----------------*/

.navbar{
	overflow: hidden;
	background-color: #3E7E51/*dark green*/;
}

.carousel{
	padding: 190px;
	border:10px solid transparent;
	border-image: url(logo.png)50 round;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
	display: block;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

/*nav{
	font-family:fantasy;
	font-weight: 600;
	background-color:#3E7E51;
} */

.navbar a{
	float: right;
	font-size: 15px;
	color: white;
	text-align: center;
	padding: 15px
}

.body{
	background-image: linear-gradient(#D4EEDC,#eaea45b5);
	background-color:#D4EEDC;
	color: black;
}
.footer{
	background-color:#3E7E51;
	border-top: 1px solid #000;
}
.footer .rowsection{
	text-align: center;	
}

.col-6{
	max-width: 1000px;
	flex: 10 0 0%
}
.section .Storerow{
	display: table;
}

p{
	padding: 100px;
	outline-style: none;
	white-space: pre;
	font-family: fantasy;
	text-align: center;
	font-size: x-large;
} 

iframe{
	width: 100%;
	height: 300px;
	outline-style: groove;
	outline-color: #D4EEDC;
}

h2{
	padding: 10%;
}
@media all and(max-width: 100%){
	max-width:100%;
	}
}

@media all and (min-width: 576px){
.container .container-sm {
    max-width: none;
	}
}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: none;
	}
}

/*.SectionCardContainer .card{
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 50px;
  display: table-cell;*/
}
.card{
	background-color: #D4EEDC;
}
 .card-wrapper {
    height: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
   -webkit-flex:1;
}
#card2{
	padding: 50px;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding: 50px;
}
.col-12{
	padding: 50px;
	display: contents;
}

h2{
	border-bottom: groove;
	font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
     max-width: min-content;
}

h3 {
    font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
    max-width: min-content;
}

h4 {
    font-size: 2rem;
    padding: 30px;
    border-bottom: groove;
    max-width: min-content;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    padding: 50px;
}

.cardText{
    text-align: center;
    justify-content: center;
    /* outline-style: groove; */
    border-bottom: solid;
    border-radius: 50px;
    background-image: linear-gradient(45deg,#D4EEDC, #3e7e51);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #b17246;
    background-clip: border-box;
    border-radius: 50rem;
    padding: 50px;
    background-image: linear-gradient(#D4EEDC,#3e7e51);
}
img {
    vertical-align: middle;
    border-style: none;
    padding: inherit;
}
/*-----------------------------------------------*/
.social-signin-facebook{
	border:2px solid #3E7E51;
	padding: 10px;
}

.social-signin-twitter{
	border:2px solid #3E7E51;
	padding: 10px;
}
.social-signin-google{
	border:2px solid #3E7E51;
	padding: 10px;
}
.space-across{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}
.facebook{
	grid-column: 3 / 3;
}
.twitter{
	grid-column: 4 / 4;
}
.google{
	grid-column: 5 / 5;
}
.user{
	padding: 10px;
}
.bigbox{
	padding: 50px;
	border:2px solid #3E7E51;
	width: 100%;
	margin: 8px 0;
}
.vertical{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.rightside{
	display: block;
	width: 50%;
	padding: 5px;
	border:2px solid #3E7E51;
	margin: 8px auto;
}
.sizer{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto;
}
@media screen and (max-width: 709px) {
	.sizer {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	.social-signin-facebook{
		border:2px solid #3E7E51;
		padding: 10px;
		width: 100%;
	}
	.social-signin-twitter{
		border:2px solid #3E7E51;
		padding: 10px;
		width: 100%;
	}
	.social-signin-google{
		border:2px solid #3E7E51;
		padding: 10px;
		width: 100%;
	}
}

.separater{
	color: solid #3E7E51;
	outline-color: #9c27b0/*purple*/;
}

/* Profile Page */
.container{
	padding-top: 30px;
	text-align: center;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.row{
	display: inline-flex;
	flex-wrap: wrap;
	margin-right: wrap;
	margin-right: -329px;
	margin-left: -18px;
	margin-bottom: 58px;
}

.column {
    float: center;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
 }

.column-left {
    width: 30%
    padding-top: 55px;
    /*padding-right: -19px; */
  
}

.column-right {
    width: 70%;
    padding-top: 90px;
    /*padding-right: 50px; */
} 

 Responsive layout() 
@media screen and (min-width: 576px,max-width: 540px;){
.column-left, .column-right {
    width: 100%;
  }
}
.merchrow{
	display: -webkit-inline-box;
	display: block;
}

.row2{
	padding: 19px;
}
.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

@media screen and (min-width: 576px){
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 30%;
  }
}    


.h-1, .h-2{
	margin-top: 30px;
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.img{
	vertical-align: middle;
}

/* image shaking animation*/
.img1:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake{
	0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.p2{
	outline-style: none;
    white-space: pre;
    font-family: fantasy;
    text-align: center;
    font-size: x-large;
    margin-bottom: 1rem;
}

.input{
	width:100%;
	padding: 5px;
	border:2px solid #3E7E51;
	margin: 8px 0;
	border-radius: inherit;
}

.button:focus{
	border-radius: 15rem;
	background-color: #D4EEDC;
}
/* ^ Profile Page ^ */
